<div class="list__item">
  <button
      mat-icon-button
  >
    <mat-icon
        *ngIf="!done"
        (click)="doneTodo()"
    >
      check_box_outline_blank
    </mat-icon>
    <mat-icon *ngIf="done">check_box</mat-icon>
  </button>

  <p
      (dblclick)="editStatusTodo()"
      *ngIf="!editStatus"
  >
    {{text}}
  </p>

  <todo-input
      [currentValue]="text"
      *ngIf="editStatus"
      class="todo__input"
      (inputValue)="setInputValue($event)"
  >
  </todo-input>

  <button
      mat-icon-button
      class="list__action-btn"
  >
    <mat-icon
        *ngIf="!editStatus"
        (click)="delTodo()"
    >
      delete_forever
    </mat-icon>
    <mat-icon
        *ngIf="editStatus"
        (click)="editTodo()"
    >
      save
    </mat-icon>
  </button>
</div>